img {
  max-width: 10em;
}

.overlay-img {
  position: relative;
}


.hover {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  transition-delay: 0.3s;
  background:#2098D1;
  color: white;
  -moz-osx-font-smoothing: grayscale;
}





