img {
  max-width: 10em;
}

.overlay-img {
  position: relative;
}


.hover {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  transition-delay: 0.05s;
  background:rgba(32, 152, 209, 0.24);
  /*color: white;*/
  -moz-osx-font-smoothing: grayscale;
}





