<div class="img-container">

  <div class="w-25 mt-3 mb-3">
    <select class="custom-select browser-default" (change)="onSelection($event.target.value)">
      <option value="0" [selected]="true" [disabled]="true">Select Section</option>
      <option *ngFor="let section of sections">{{section}}</option>
    </select>
  </div>

  <div class="border border-top-0 border-right-0 border-left-0 d-flex justify-content-around">
    <fa-icon [icon]="faAngleDown"></fa-icon>
    <div *ngIf="currentSelection; then selected else pleaseSelect"></div>
    <fa-icon [icon]="faAngleDown"></fa-icon>
  </div>

  <ng-template #selected>
    <h4 class="mb-0 ">{{currentSelection}}</h4>
  </ng-template>

  <ng-template #pleaseSelect>
    <h4 class="mb-0 ">No Category Selected</h4>
  </ng-template>


  <div class="row ">
    <div class="col-lg-2 col-md-3 col-xs-6 mt-2" *ngFor="let imgModel of images$ | async">
      <app-image [imgSrc]="imgModel" ></app-image>
    </div>

    <div class="search-results"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <fa-icon [icon]="faSpinner" class="fa-spin" size="5x" *ngIf="loading"></fa-icon>
  </div>

</div>
