<div class="img-container">

<div class="w-25">
  <select class="custom-select browser-default" (change)="onSelection($event.target.value)">
    <option value="0">Select Section</option>
    <option *ngFor="let section of sections">{{section}}</option>
  </select>
</div>


  <div class="row ">
    <div class="col-lg-2 col-md-3 col-xs-6 mt-2" *ngFor="let img of images$ | async">
      <img [src]="img" class="img-fluid rounded" />
    </div>

    <div class="search-results"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">
    </div>
  </div>


</div>
