<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Appointment Time</th>
        <th>Availability</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments$ | async">
        <td>{{appointment.display | date:'medium'}}</td>
        <td [ngStyle]="{'color': appointment.isClosed ? '#dc3545': '#28a745'}">{{appointment.isClosed ? 'Closed': 'Open'}} </td>
        <td>{{appointment.price / 100 | currency}}</td>
        <td>
          <button class="btn btn-primary float-right" type="button" (click)="schedule(appointment)">Schedule</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
