<div class="media mt-3">
  <img class="d-flex mr-3" [src]="aboutImage" />
  <div class="media-body">
    <h5 class="mt-0">About</h5>
    <p>Photography service for children, family, seniors and weddings.</p>
    <div class="w-25">
      <p class="text-muted text-uppercase font-weight-bold border-bottom">Hours</p>
      <div class="ml-2">
        <p class="mb-0">Monday - Thursday: 9am - 5pm</p>
        <p class="mb-0">Friday: 9am - 2pm</p>
        <p>Saturday & Sunday: Closed</p>
      </div>
      <p class="text-muted text-uppercase font-weight-bold border-bottom">Contact Info</p>
      <div class="ml-2">
        <div class="mb-0"><fa-icon class="mr-2" [icon]="faPhone"></fa-icon>Call (734) 231-1270</div>
        <div>
          <a class="mb-0" href="https://m.me/lisamaczinkphotography?fbclid=IwAR3PsYtPFY0phOQA9QubV4_kFECxZAJWkX_MVbYTf-uN_AewMc2Zn4JoVxQ"> <fa-icon [icon]="faFacebookMessenger" class="mr-2"></fa-icon>m.me/lisamaczinkphotography</a>
        </div>
        <div>
          <a class="mb-0" href="maczink15@outlook.com"><fa-icon [icon]="faEnvelope" class="mr-2"></fa-icon>maczink15@outlook.com</a>
        </div>
        <div>
          <a class="mb-0" href="https://www.facebook.com/pg/lisamaczinkphotography">Facebook</a>
        </div>
      </div>
    </div>
  </div>
</div>
