img {
  max-height: 100px;
}

.dropzone {
  background-color: #ffffc6;
  min-height: 12em;
  border-style: dashed;
  border-width: 1px;
}

.active {
  background-color: #80ffc7;
}

fa-icon {
  opacity:0.2;
}
