img {
  max-height: 100px;
}

.upload {
  margin-bottom:8em;
}
.dropzone {
  background-color: #ffffff;
  min-height: 12em;
  border-style: dotted;
  border-width: 3px;
  cursor: pointer;

}

.fat-button {
  width: 25%;
  min-width: 25%;
}

.hover-hightlight {
  margin-top:5em;
  top: -5em;

}

.preview {
  background-color: #ffffc6;
}

.hover-highlight:hover {
  cursor: pointer;
}

.active {
  background-color: #80ffc7;
}

fa-icon {
  opacity:0.2;
}
