<div class="container">
  <form #eventForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid">

      <!--Image-->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="eventPhoto">Event Photo </label>
            <img [src]="imagePreview" class="p-1" *ngIf="imagePreview" />
            <input #file type="file" class="form-control-file" (change)="handleDrop($event.target.files)" />
          </div>
        </div>
      </div>

      <!--Event Name-->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="eventName">Event Name</label>
            <input type="text" name="eventName" class="form-control" placeholder="Add a short, clear name" [(ngModel)]="model.name" #name="ngModel" required />
          </div>
        </div>
      </div>

      <!--Google Location-->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="location" class="form-control" placeholder="Include a place or address" [(ngModel)]="model.address" google-place (onSelect)="setAddress($event)" #location="ngModel" required />
          </div>
        </div>
      </div>

      <!--Start date and time-->
      <div class="row">
        <div class="col">
          <div class="form-group">

            <label for="startDate">Start Date/Time</label>
            <div class="input-group">
              <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="startDate"
                     ngbDatepicker #startDate="ngbDatepicker" [ngModel]="model.startDate"
                     (click)="startDate.toggle()" (ngModelChange)="model.startDate = $event; model.endDate = $event; generateAppointmentSlots();" 
                     #startDateValidation="ngModel" required>
              <div class="input-group-append">
                <fa-icon class="btn btn-outline-secondary calendar" [icon]="faCalendar" (click)="startDate.toggle()"></fa-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group-sm">
            <label for="startTime">Start Time</label>
            <ngb-timepicker id="startTime" name="startTime" [(ngModel)]="model.startTime" [meridian]="true" [spinners]="false" [size]="small" #startTime="ngModel" required (ngModelChange)="generateAppointmentSlots();"> </ngb-timepicker>
          </div>
        </div>
      </div>

      <!--End date and time-->
      <div class="row">
        <div class="col">
          <div class="form-group">

            <label for="endDate">End Date/Time</label>
            <div class="input-group">
              <input id="endDate" class="form-control" placeholder="yyyy-mm-dd" name="endDate" ngbDatepicker #endDate="ngbDatepicker" [(ngModel)]="model.endDate" (click)="endDate.toggle()" #endDateValidation="ngModel" required (ngModelChange)="generateAppointmentSlots();">
              <div class="input-group-append">
                <fa-icon class="btn btn-outline-secondary calendar" [icon]="faCalendar" (click)="endDate.toggle()"></fa-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group-sm">
            <label for="endTime">End Time</label>
            <ngb-timepicker id="endTime" name="endTime" [(ngModel)]="model.endTime" [meridian]="true" [spinners]="false" [size]="small" #endTime="ngModel" required (ngModelChange)="generateAppointmentSlots();"> </ngb-timepicker>
          </div>
        </div>
      </div>

      <!--Time per slot-->
      <div class="row" *ngIf="endDateValidation.valid && startDateValidation.valid && startTime.valid && endTime.valid">
        <div class="col">
          <div class="form-group">
            <label for="slotTimes">Minutes per Appointment Slot</label>
            <div class="input-group">
              <input name="slotTimes" type="number" [(ngModel)]="timePerSlot" #slotTimes="ngModel" required (ngModelChange)="generateAppointmentSlots();" />
            </div>
          </div>
        </div>
        <div class="col">
          <table class="table table-sm mt-4" *ngIf="timePerSlot > 4"> <!-- Don't display appoints when a user starts typing in 1, 2, etc... 5 minutes is aboslute minimum -->
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Appointment Times</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let appt of model.appointments; index as i;">
                <th scope="row">{{i + 1}}</th>
                <td>{{appt.display | dfnsFormat : 'MMMM D, h:mm aa'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Description-->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" class="form-control" placeholder="Tell people more about the event" [(ngModel)]="model.description" />
          </div>
        </div>
      </div>

      <!--Submit button-->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <button type="submit" class="btn btn-default float-right" [disabled]="!eventForm.valid">Save</button>
          </div>
        </div>
      </div>

    </div>
  </form>

</div>

