<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #eventForm="ngForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="eventPhoto">Event Photo Placeholder</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="w-100">
          <div class="form-group">
            <label for="eventName">Event Name</label>
            <input type="text" name="eventName" class="form-control" placeholder="Add a short, clear name" [(ngModel)]="model.name" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="w-100">
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="location" class="form-control" placeholder="Include a place or address" [(ngModel)]="model.address" google-place (onSelect)="setAddress($event)" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group-sm">
          <div class="col-xs-6">
            <label for="dateOfBirth">Date/Time</label>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="model.startDate">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group-sm ml-4">
            <label for="startTime">Start Time</label>
            <ngb-timepicker id="startTime" name="startTime" [(ngModel)]="model.startTime" [minuteStep]="15" [meridian]="true" [spinners]="false" [size]="small"> </ngb-timepicker>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="w-100">
          <label for="description">Description</label>
          <input type="text" name="description" class="form-control" placeholder="Tell people more about the event" [(ngModel)]="model.description" />
        </div>
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(model)">Save</button>
</div>



<!--Event photo
'Theme'
Name
Location
Date/Time Start
Date/Time End
Duration/Size of slot. 15 minute increments?
Description
Private -- Password necessary
Password field if Private set true-->
