<p class="display-4 text-md-center mt-3">Lisa Maczink Photography</p>

<p class="lead">Here are just a few of the comments my customers have left me!</p>
<div class="ml-4 border-left pl-2">
  <blockquote class="blockquote">
    <p class="mb-0">I love Lisa and all of the hard work she puts into her sets/backdrops/props. She does so good with the little ones.</p>
    <footer class="blockquote-footer">
      Kimberly Quinn
      <cite title="https://www.facebook.com/lauren.blackmore.35/posts/2323106631033121"><a href="https://www.facebook.com/lauren.blackmore.35/posts/2323106631033121" target="_blank">Source</a></cite>
    </footer>
  </blockquote>

  <blockquote class="blockquote">
    <p class="mb-0">
      LOVE LOVE LOVE - Adorable ideas! I can’t wait for all the future photos as my daughter grows up!
      <a href="https://www.facebook.com/hashtag/onlylittleonce?source=feed_text" target="_blank">#onlylittleonce</a>
      <a href="https://www.facebook.com/hashtag/timeslowdown?source=feed_text" target="_blank">#timeslowdown</a>
    </p>
    <footer class="blockquote-footer">
      Jamie Bouldin
      <cite title="https://www.facebook.com/jamie.bouldin.16/posts/10211389322441425"><a href="https://www.facebook.com/jamie.bouldin.16/posts/10211389322441425" target="_blank">Source</a></cite>
    </footer>
  </blockquote>

  <blockquote class="blockquote">
    <p class="mb-0">Lisa always takes her time shooting the pictures. She always listens to my suggestions. You can tell she loves being a photographer!</p>
    <footer class="blockquote-footer">
      Amanda Braden
      <cite title="https://www.facebook.com/amanda.braden/posts/10155380702351300:0"><a href="https://www.facebook.com/amanda.braden/posts/10155380702351300:0" target="_blank">Source</a></cite>
    </footer>
  </blockquote>
</div>


<p class="font-weight-bold">See my schedule to request an opening, and my events page to see upcoming photo shoots!</p>
<p>If you have any questions, you can visit my about page for contact info!<a class="ml-2" [routerLink]='["/about"]'>Contact Me!</a></p> 

