<nav class="navbar navbar-expand-md border-dark  border-bottom">
    <a class='navbar-brand' [routerLink]='["/"]'>PhotoGallery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'>
            <fa-icon [icon]="faHome"></fa-icon>Home

          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/photos"]' (click)='collapse()'>
            <fa-icon [icon]="faImage"></fa-icon> Photo Gallery
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/events"]' (click)='collapse()'>
            <fa-icon [icon]="faImage"></fa-icon> Events
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/schedule"]' (click)='collapse()'>
            <fa-icon [icon]="faImage"></fa-icon> Schedule
          </a>
        </li>
    </ul>
  </div>
</nav>
